* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}



body {
  background: #f0f2f5;
  color: #5f5f5f;
}

a {
  text-decoration: none;
  color: #5f5f5f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 6px 6%;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 30px;
  margin-right: 15px;
  display: block;
}

.menu-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-list ul li {
  display: inline-block;
}

.menu-list ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 5px 8px;
  padding-right: 5px;
  position: relative;
}

.menu-list ul li a::after {
  position: absolute;
  width: 0;
  height: 2px;
  background: #045be6;
  bottom: -15px;
  content: '';
  transition: width 0.3s;
}

.menu-list ul li a:hover::after, .menu-list ul li a.active::after {
  width: 100%;
}



.menu-list ul li a img {
  width: 30px;
}

.nav-profile-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  position: relative;
}

.online {
  position: relative;
}

.online::after {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  top: 0;
  right: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
}

.search-box {
  background: #f0f2f5;
  width: 320px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0 15px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.search-box img {
  width: 14px;
}

.search-box input {
  background: transparent;
  width: 100%;
  padding: 8px;
  border: 0;
  outline: 0;
}

/*------navbar end ----------*/



.container {
  display: flex;
  padding: 20px 6%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-cover-img {
  height: 400px;
  cursor: pointer;
}

/*------left-sidebar start ----------*/
.left-sidebar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}

.sidebar-profile-box {
  background: #fff;
}

.sidebar-profile-info {
  padding: 0 25px;
}

.sidebar-profile-info img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin-top: -45px;

}

.sidebar-profile-info h1 {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.sidebar-profile-info h3 {
  font-size: 14px;
  font-weight: 500;
  color: #777;
}

.sidebar-profile-info ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;

}

.sidebar-profile-info ul li {
  width: 100%;
  margin: 5px 0;
  font-size: 13px;
}

.sidebar-profile-info ul li span {
  float: right;
  color: #045be6;
}

.sidebar-profile-links {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
}

.sidebar-profile-links a {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 13px;
  border-left: 1px solid #ccc;
}

.sidebar-profile-links a:first-child {
  border-left: 0;
}

.sidebar-profile-links a img {
  width: 20px;
  margin-right: 10px;
}

.sidebar-activity {
  background: #fff;
  padding: 5px 25px;
  margin: 12px 0;
}

.sidebar-activity h3 {
  text-transform: uppercase;
  color: #777;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 10px;
}

.sidebar-activity a {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #888;
  margin: 3px 0;
}

.sidebar-activity a img {
  width: 20px;
  margin-right: 10px;
}

.discover-more-links {
  border-top: 1px solid #ccc;
  text-align: center;
  margin-left: -25px;
  margin-right: -25px;
  margin-top: 20px;
}

.discover-more-links a {
  display: inline-block;
  color: #045be6;
  margin: 10px 0;
}

.profile-menu-wrap {
  position: absolute;
  top: 100%;
  right: 5%;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.profile-menu-wrap.open-menu {
  max-height: 358px;
}

.profile-menu {
  background: #222;
  color: #fff;
  padding: 20px;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info h3 {
  font-weight: 500;
  margin-bottom: -3px;
}

.user-info a {
  color: #c9dbf8;
}

.profile-menu hr {
  margin: 15px 0;
  border: 0;
  height: 1px;
  width: 100%;
  background: #fff;
}

.profile-menu-links {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 12px 0;
  font-size: 14px;
}

.profile-menu-links p {
  width: 100%;
}

.profile-menu-links img {
  margin-right: 15px;
  width: 35px;
  border-radius: 50%;
}

/*------left-sidebar end ----------*/



/*------right-sidebar start ----------*/

.right-sidebar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}

.sidebar-news {
  background: #fff;
  padding: 10px 25px;
}

.sidebar-news h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 10px 0 30px;
}

.info-icon {
  width: 15px;
  float: right;
  margin-top: 15px;
}

.sidebar-news a {
  display: block;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: -5px;
}

.sidebar-news span {
  font-size: 12px;
}

.sidebar-news .read-more-link {
  color: #045be6;
  font-weight: 500;
  margin: 20px 0 10px;
}

.sidebar-ad {
  background: #fff;
  padding: 15px 25px;
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
}

.sidebar-ad img {
  width: 60px;
  border-radius: 50%;
  margin: 4px;
}

.sidebar-ad small {
  float: right;
  font-weight: 500;
}

.sidebar-ad p {
  margin-top: 30px;
  margin-bottom: 10px;
}

.sidebar-ad b {
  font-weight: 500;
  display: block;
  margin-top: 10px;
}

.sidebar-ad .ad-link {
  display: inline-block;
  font-weight: 500;
  border: 1px solid #045be6;
  border-radius: 30px;
  padding: 5px 15px;
  margin: 20px auto 10px;
  color: #045be6;
}

.sidebar-useful-links {
  padding: 15px 25px;
  text-align: center;
}

.sidebar-useful-links a {
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}

.copyright-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
}

.copyright-msg img {
  width: 18px;
  margin: 4px;
}

/*------main-content start ----------*/
.main-content {
  flex-basis: 47%;
}

.create-post {
  background: #fff;
}

.create-post-input {
  display: flex;
  padding: 20px 25px 10px;
  align-items: flex-start;
}

.create-post-input img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}


.create-post-input textarea {
  resize: none;
  width: 100%;
  border: 0;
  outline: none;
  background: transparent;
  margin-top: 8px;
}

::placeholder {
  font-weight: 500;
}

.create-post-links {
  display: flex;
  align-items: flex-start;
}

.create-post-links li {
  list-style: none;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  flex-basis: 25%;
  font-size: 13px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.create-post-links li img {
  margin-right: 5px;
  width: 15px;
}

.create-post-links li:last-child {
  background: #045be6;
  color: #fff;
  border-top: 0;
  border-right: 0;
}

.sort-by {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.sort-by hr {
  flex: 1;
  border: 0;
  height: 1px;
  background: #ccc;
}

.sort-by p {
  font-size: 13px;
  padding-left: 5px;
}

.sort-by p span {
  font-weight: 600;
  cursor: pointer;
}

.sort-by p span img {
  width: 10px;
  margin-left: 3px;
}

.post {
  background: #fff;
  padding: 20px 25px 5px;
  margin: 5px 0 15px;
}

.post-author {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.post-author img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}

.post-author h1 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.post-author div small {
  display: block;
  margin-bottom: -2px;
}

.post p {
  font-size: 14px;
  margin-bottom: 15px;
}

.post-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}

.post-stats div {
  display: flex;
  align-items: center;
}

.post-stats img {
  width: 15px;
  margin-right: -5px;
}

.liked-user {
  margin-left: 10px;
}

.post-activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
}

.post-activity div {
  display: flex;
  align-items: center;
}

.post-activity-user-icon {
  width: 22px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.post-activity-arrow-icon {
  width: 12px;
  cursor: pointer;
}

.post-activity-link {
  align-items: center;
  cursor: pointer;
}

.post-activity-link img {
  width: 18px;
  margin-right: 8px;
}

/*------homepage css end ----------*/


/*------profile page css start ----------*/


.profile-main {
  flex-basis: 73%;
  align-self: flex-start;
}

.profile-sidebar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}

.profile-container {
  background: #fff;
}

.profile-container-inner {
  padding: 0 4% 10px;
}

.profile-img {
  width: 150px;
  border-radius: 50%;
  margin-top: -75px;
  border: 5px solid #fff;
}

.profile-container-inner h1 {
  font-size: 28px;
  color: #222;
  font-weight: 600;
}

.profile-container-inner b {
  font-weight: 500;
}

.profile-container-inner p {
  margin-top: 5px;
  font-size: 13px;
}
.profile-container-inner p a{
  color: #045be6;
  font-weight: 500;
}

.mutual-connection {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.mutual-connection img {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-btn {
  margin: 20px 0;
}

.profile-btn a {
  display: inline-flex;
  align-items: center;
  background: #e4e6eb;
  padding: 6px 15px;
  border-radius: 4px;
  margin-right: 10px;
}

.profile-btn img {
  margin-right: 5px;
  width: 18px;
}

.profile-btn a.primary-btn {
  background: #045be6;
  color: #fff;
}

.profile-description {
  background: #fff;
  padding: 20px 4% 30px;
  margin: 12px 0;
}

.profile-description h2 {
  font-weight: 600;
  color: #333;
  margin: 10px 0 20px;
}

.see-more-link {
  font-size: 15px;
  display: block;
  text-align: right;
  color: #045be6;
}

.profile-desc-row {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

.profile-desc-row img {
  margin-right: 25px;
  width: 50px;
  margin-top: 5px;
}

.profile-desc-row div {
  width: 100%;
}

.profile-desc-row div h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.profile-desc-row div b {
  font-weight: 500;
  display: block;
  font-size: 15px;
}

.profile-desc-row div p {
  margin-top: 15px;
}

.profile-desc-row div hr {
  border: 0;
  border-bottom: 1px solid #999;
  margin-top: 10px;
}

.profile-description hr {
  border: 0;
  border-bottom: 1px solid #999;
  margin-top: 10px;
}

.experience-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-weight: 500;
}

.experience-link img {
  width: 20px;
  margin-left: 8px;
}

.skills-btn {
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  border: 1px solid #777;
  border-radius: 30px;
  font-size: 12px;
  align-items: center;
  font-weight: 500;
}

.language-btn {
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  border-radius: 4px;
  font-size: 12px;
  align-items: center;
  font-weight: 500;
  background: #e4ebe6;
  color: #333;
}


/*------profile page right-sidebar css start ----------*/


.profile-sidebar .sidebar-ad {
  margin: 0;
}

.sidebar-people {
  background: #fff;
  padding: 15px 25px;
  margin: 12px 0;
  font-size: 12px;
}

.sidebar-people h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0 20px;
}

.sidebar-people-row {
  display: flex;
  align-items: flex-start;
  margin: 6px 0;
}

.sidebar-people-row img {
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 5px;
}

.sidebar-people-row h2 {
  font-size: 16px;
  font-weight: 500;
}

.sidebar-people-row a {
  display: inline-block;
  margin: 10px 0;
  padding: 5px 25px;
  border: 1px solid #5f5f5f;
  border-radius: 30px;
  font-weight: 500;
}

.profile-footer {
  padding: 0 6% 30px;
}

.profile-footer .sidebar-useful-links {
  padding: 0;
  text-align: left;
}

.profile-footer .copyright-msg {
  justify-content: flex-start;
}

.profile-footer .sidebar-useful-links a {
  margin-right: 20px;
}
#showMoreLink {
  display: none;
}


/*------Responsive Homepage  start ----------*/

@media only screen and (max-width: 600px) {
  .search-box {
    background: transparent;
    width: auto;
    padding: 0;
  }

  .search-box input {
    width: 0;
    padding: 0;
  }

  .menu-list ul li a span {
    display: none;
  }
  .menu-list ul li a {
    margin: 5px 0;
  }
  .nav-profile-img {
    width: 30px;
  }
  .container {
    padding: 15px 3%;
  }
  .left-sidebar, .right-sidebar {
    flex-basis: 100%;
    position: relative;
    top: unset;
  }
  .main-content {
    flex-basis: 100%;
  }
  .post-stats div {
    margin: 2px 0;
  }
  .post-activity-link span {
    display: none;
  }
  .post-activity-link img {
    margin-right: 0;
  }
  .profile-main, .profile-sidebar {
    flex-basis: 100%;
  }
  .profile-container {
    font-size: 14px;
  }
  .profile-pic {
    width: 100px;
    margin-top: -50px;
  }
  .profile-description {
    font-size: 14px;
  }
  #showMoreLink {
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 14px;
    cursor: pointer;
  }
  .sidebar-activity {
    display: none;
  }
  .sidebar-activity.open-activity {
    display: block ;
  }
  
}









